<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% games.each do |game| %>
      <tr>
        <td><%= link_to(game.user) do %>
          <%= attachment_image_tag(game.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %>
          <% end %>
        </td>
        <td><%= link_to game.title,game, class: "game_#{game.id}" %></td>
        <td><%= game.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>