<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>nickname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profileimage, :fill, 50, 50, fallback: "no_image.jpg") %></td>
        <td><%= user.nickname %></td>
        <td><%= link_to 'Show', public_user_path, class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>